.App {
  text-align: center;
  margin-top: auto;
}

.App-logo {
  width: 35vmin;
  pointer-events: none;
  margin-bottom: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.N-input {
  background-color: white;

  width: 35vmin;
}

.Calc-btn {
  background-color: #338fe1;
  color: white;
  width: 35vmin;
  margin-bottom: 2%;
}

.Res-div {
  color: white;
  font-size: 200%;
}
